body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  z-index: 10;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.about,.works,.links,.blog,.lang :hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: inline-block;
  float: left;
}

.container {
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(cosmos.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.main-wrapper{
  background-size: cover;
  background-color: #f7f7f7;
  color: black;
  font-family: "Century Gothic";
  text-align: left;
  width; 80%;
}

