body {
  margin: 0;
  font-family: Meiryo;
  height: 100%;
  width: 100%;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  z-index: 10;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.header-right :hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  color: white;
  display: inline-block;
  float: left;
  padding: 0 10px 0 10px;
  text-decoration: none;
}

h2 {
  color: #ccff33;
  margin: 0;
}

.profile{
  width: 30px;
  height: 30px;
}

.top-wrapper {
  margin: 0 auto;
  padding: 180px 0 100px 0;
  background-image: url(cosmos.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.main-wrapper{
  margin: 0 auto;
  padding-bottom: 50px;
  background-size: cover;
  background-color: #262626;
  color: white;
  text-align: center;
}

.main-wrapper .container{
  width: 90%;
  height: auto;
  text-align: left;
  margin-left: 5%;
}

.fab{
  color: white;
  font-size: 7em;
  margin: 20px;
  text-decoration: none;
}

.fab:hover{
  color: #ccff33;
}


::placeholder {
  font-size: 15px;
}

textarea{
  height: 80px;
}

/* Contact  */

div.wrap {
  width: 500px;
  position: absolute;
  margin-top: 280px;
}

div.wrap div {
  position: relative;
  margin: 50px 0;
}

label {
  position: absolute;
  top: 0;
  font-size: 30px;
  margin: 10px;
  padding: 0 10px;
  background-color: ;
  -webkit-transition: top .2s ease-in-out,  font-size .2s ease-in-out;
  transition: top .2s ease-in-out,  font-size .2s ease-in-out;
}

.active {
  top: -25px;
  font-size: 20px;
}

input[type=text] {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccff33;
  font-size: 20px;
  background-color: #262626;
  color: white;
}

input[type=text]:focus {
  outline: none;
}

.contact-submit{
  width: 100px;
}

.btn {
  padding: 8px 24px;
  margin-left: 45%;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.message {
  padding: 15px 40px;
  background-color: #ccff33;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.icon::before {
  display: inline-block;
  margin-right: .5em;
  font-family: fontawesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

ul {
  list-style: none;
}

.double-right li:before {
  font-family: FontAwesome;
  content: '\f101';
  color: #ccff33;
}

.single-right li:before {
  font-family: FontAwesome;
  content: '\f105';
  color: #ccff33;
}

.work-wrapper {
  height: 800px;
  padding-bottom: 80px;
  background-color: #262626;
  text-align: left;
  color: white;
}

.work-container{
  width: 90%;
  height: auto;
  margin-left: 5%;
}

.content {
  display: inline-block;
  margin-top: 20px;
  width: 90%;
  height: auto;
  float: left;
}

.content-icon {
  position: relative;
}

.comment {
  width: 40%;
  margin-top: 20px;
  margin-left: 20px;
  color: white;
}
